---
layout: main
title: Title Tests
---

{% include title.html
	size="big"
	color="xd"
	title="Title Testing"
	description="this is probably too fancy for a test page."
%}

<div class="genericDescription">
	<h1>Description</h1>
	<p>The goal of this test is to fix the CSS margins of the titles.</p>
</div>

{% include title.html
	size="normal"
	color="xd"
	title="Normal Title"
	description="This is a description"
%}

{% include title.html
	size="normal"
	color="xd"
	title="Normal Title"
	description="This is a description"
%}


{% include title.html
	size="normal"
	color="xd"
	title="Normal Title"
	description="This is a description"
%}

<div class="genericDescription">
	<p>Currently, .normalTitle has a margin property of 40px auto</p>
	<p>and so does .genericDescription </p>
</div>

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

<div class="genericDescription">
	<p>by the end of this test, all margins should be the same size, with no duplicate margins between titles, as well as leaving enough space for the footer.</p>
</div>

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}

{% include title.html
	size="mini"
	color="xd"
	title="Mini Title"
%}