/*
Imports, pseudoelements, and animations.
*/

@import url('https://fonts.googleapis.com/css2?family=Akaya+Telivigala&family=Comfortaa:wght@300..700&family=Stick&family=JetBrains+Mono:wght@100..800&family=Kumbh+Sans:wght@100..900&display=swap');
@import url("https://use.typekit.net/uty3zzz.css");

:root {
	--animationFast: 200ms;
	--animationSlow: 300ms;
	--backgroundColor: black;

	--grayLv1: #1a1a1a;
	--grayLv2: #393939;
	--grayLv3: #808080;
	--grayLv1t: #202020cc;
	--grayLv3t: #ffffff80;

	--roundSmall: 10px;
	--roundBig: 16px;
	--roundHuge: 24px
}

::selection {
    background-color: #ffffff40;
    mix-blend-mode: overlay;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-track {
    width: 4px;
    margin: 90px 0px 170px 0px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff40;
    border-radius: 8px;
	border: solid var(--backgroundColor) 3px;
}

@keyframes notFound {
	from {
		opacity: 0;
		transform: translateX(-500px);
	}
}

@keyframes socials {
	from {
		opacity: 0;
		gap: 80px;
	}
}

/*
404 Page Settings
*/

.notFound {
	animation: notFound 2s cubic-bezier(0.4, 0, 0, 1);
	align-items: baseline;
	display: flex;
	justify-content: center;
	-webkit-user-select: none;
	user-select: none;
	gap: 10px;
}

.notFound h1 {
	font-family: 'JetBrains Mono', monospace;
	font-size: 120px;
}

.notFound h2 {
	font-size: 32px;
}

/*
WIP Page Settings
*/


.wip h1 {
	font-size: 120px;
}

.wip h2 {
	font-size: 32px;
}

/*
Body Settings 
*/

body {
	background-color: var(--backgroundColor);
	color: white;
	display: flex;
	flex-direction: column;
	font-family: 'Kumbh Sans', sans-serif;
	justify-content: space-between;
	min-height: 100vh;
    margin: 0;
	overflow-x: hidden;
    overflow-y: overlay;
}

.logo {
	pointer-events: none;
	-webkit-user-select: none;
	user-select: none;
}

.socials {
	animation: socials 1s cubic-bezier(0,1 ,1 ,1) 1;
	color: var(--grayLv1);
	display: flex;
	gap: 20px;
	margin: 0;
}

.socials a {
	font-size: 32px;
	transition: ease-in-out var(--animationFast);
}

.socials a:link {
	color: var(--grayLv2);
}

.socials a:visited {
	color: var(--grayLv2);
}

.socials a:hover {
	color: var(--grayLv3);
}

/*
Home Page Settings
*/

main .logo {
	max-width: 600px;
    width: 50%;
    margin-top: 120px;
}

.nav {
	cursor: default;
	-webkit-user-select: none;
	user-select: none;
	margin: 40px auto;
}

main.home {
	margin: auto 0;

    color: #808080;
    font-size: 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main.home a {
	color: var(--grayLv3);
	text-decoration: none;
	transition: ease-in-out var(--animationFast);
}

main.home a:hover {
	color: white;
}

/*
Navbar Settings
*/

header {
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	background-color: var(--grayLv1t);
	border-bottom: 2px solid var(--grayLv2);
	border-radius: 0 0 var(--roundSmall) var(--roundSmall);
	height: 80px;
	margin: 0;
	margin-bottom: 40px;
	position: sticky;
	top: 0;
	-webkit-user-select: none;
	user-select: none;
	z-index: 727;
}

header .logo {
	margin: 0 0 0 40px;
    height: 20px;
	transition: cubic-bezier(0, 1, 1, 1) var(--animationSlow);
}

nav {
	align-items: center;
	display: flex;
	gap: 40px;
	height: 100%;
	transition: gap cubic-bezier(0, 1, 1, 1) var(--animationSlow);
}

nav a {
	color: var(--grayLv3);
	text-decoration: none;
	transition: ease-in-out var(--animationFast);
}

nav a:hover {
	color: white;
}

/*
Footer Settings
*/

footer {
	border-radius: var(--roundSmall) var(--roundSmall) 0 0;
	border-top: 2px solid var(--grayLv2);
	background-color: var(--grayLv1);
	height: 160px;
	margin: 0;
	-webkit-user-select: none;
	user-select: none;
}

footer p {
	margin: 0;
}

footer .container {
	align-items: center;
	display: flex;
	height: 100%;
	justify-content: space-between;
	margin: 0 40px;
}

footer .wordmark {
	color: var(--grayLv3);
	display: flex;
	gap: 10px;
	flex-direction: column;
}

footer .logo {
	color: var(--grayLv2);
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 32px;
	height: 40px;
}

/*
Title Settings & Colors
*/

.title {
	background-color: var(--grayLv1);
	background-size: cover;
	background-position-y: 100%;
	border-radius: var(--roundSmall);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0 10px;
	margin-bottom: 40px;
	padding: 0 40px;
}

.title h1 {
	font-weight: 800;
	margin: 10px 0;
}

.title h2 {
	font-weight: 400;
	margin: 10px 0;
}

/* Sizes */

.big {
	height: 360px;
}

.normal {
	height: 240px;
}

.mini {
	height: 100px;
}

.mini h2 {
	display: none;
}

/* Colors */

.pink {
	background-image: url(/resources/title/pink.png);
}

.blue {
	background-image: url(/resources/title/blue.png);
}

.gold {
	background-image: url(/resources/title/rasp.png);
}

/*
Description
*/

.genericDescription {
	margin: 0 40px;
	margin-bottom: 40px;
}

.genericDescription h1 {
	font-size: 40px;
}

/*
Skin Grid
*/

.skinGrid {
    margin: 0 10px;
	margin-bottom: 40px;
	display: grid;
    gap: 40px;

    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
}

.skinWrap {
	margin: 0;
}

.skinWrap a {
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	text-decoration: none;
	z-index: 72;
}

.skinWrap:hover .skin {
	border-radius: var(--roundHuge);
	margin: 0 10px;
}

.skin {
	background-color: var(--grayLv1);
	background-size: cover;
	background-position: 50%;
	border-radius: var(--roundSmall);
	display: flex;
	flex-direction: column;
	height: 360px;
	justify-content: center;
	padding: 0 40px;
	transition: cubic-bezier(0, 1 ,1 ,1) var(--animationSlow);
}

.skin a {
	text-decoration: none;
	transition: ease-in-out var(--animationSlow);
}

.skin h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 0;
}

.skin h2 {
	color: var(--grayLv3t);
	font-size: 20px;
	font-weight: 400;
	margin: 0;
}

/* Grid Types */

.gridWide {
	grid-column: span 8 / auto;
	grid-row: span 1 / auto;
	margin: 0;
}

.gridLong {
	grid-column: span 5 / auto;
	grid-row: span 1 / auto;
	margin: 0;
}

.gridNormal {
	grid-column: span 3 / auto;
	grid-row: span 1 / auto;
	margin: 0;
}

.gridHalf {
	grid-column: span 4 / auto;
	grid-row: span 1 / auto;
	margin: 0;
}

/* Skin IDs */

#miku {
	background-image: url(/resources/skins/miku/main.png);
}

#mikuTitle {
	background-image: url(/resources/skins/miku/title.png);
}

#mikuTitle h1 {
	font-family: 'Tachyon';
	font-weight: 400;
}

#miku h1 {
	font-family: 'Tachyon';
}

#whatsApp {
	background-image: url(/resources/skins/whatsApp/main.png);
}

#whatsAppTitle {
	background-image: url(/resources/skins/whatsApp/title.png);
	font-family: 'Comfortaa', sans-serif;
}

#whatsApp h1 {
	font-family: 'Comfortaa';
	font-weight: 800;
}

#whatsApp h2 {
	font-family: 'Comfortaa';
	font-weight: 400;
}

#alice {
	background-image: url(/resources/skins/alice/main.png);
}

#aliceTitle {
	background-image: url(/resources/skins/alice/title.png);
}

#alice h1 {
	font-weight: 600;
}

#sunset {
	background-image: url(/resources/skins/sunset/main.png);
}

#sunsetTitle {
	background-image: url(/resources/skins/sunset/title.png);
}

#sunset h1 {
	font-weight: 400;
}

#whoTao {
	background-image: url(/resources/skins/whoTao/main.png);
}

#whoTaoTitle {
	background-image: url(/resources/skins/whoTao/title.png);
}

#whoTao h1 {
	font-family: 'Stick', serif;
	font-weight: 400;
}

#whoTao h2 {
	font-family: 'Akaya Telivigala', cursive;
	font-weight: 400;
}

#soon h1 {
	margin-top: 60px;
}

/*
Gallery Grid
*/

.galleryGrid {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(4, minmax(320px, 1fr));
	margin: 40px 10px;
}

.galleryElement {
	background-color: var(--grayLv1);
	border-radius: var(--roundSmall);
	align-items: center;
	display: flex;
	justify-content: center;
	transition: cubic-bezier(0 ,1 ,1 ,1) var(--animationSlow);
	overflow: hidden;
	
}

.galleryElement img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.galleryElement:hover {
	transform: scale(0.98);
}

.square {
	grid-column: span 2 / auto;
	grid-row: span 2 /auto;
}

.tall {
	grid-column: span 1 / auto;
	grid-row: span 2 / auto;
}

.long {
	grid-column: span 2 / auto;
	grid-row: span 1 / auto;
}

.small {
	grid-column: span 1 / auto;
	grid-row: span 1 / auto;
}

.x4 {
	grid-template-columns: repeat(4, minmax(320px, 1fr));
}

.x6 {
	grid-template-columns: repeat(6, minmax(200px, 1fr));
}

/*
Downlaod
*/

.download {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, minmax(200px, 50%));
    grid-template-rows: 200px;
    margin: auto 10px;
}

.download button {
	background-color: var(--grayLv1);
	border-radius: var(--roundSmall);
	cursor: pointer;
	font-size: 20px;
	height: 100%;
	width: 100%;
}

/*
Commissions Page
*/

.prices {
	display: flex;
	flex-direction: column;
	gap: 40px;
	padding: 0;
}

.priceSeparate {
	background-color: var(--grayLv2);
	height: 2px;
	margin-left: auto;
	width: 100%;
}

.prices h1 {
	margin: 0;
}

.prices h2 {
	margin: 10px 0;
}

.prices p {
	margin: 10px 0;
}

.item {
	align-items: center;
	border-bottom: 2px solid var(--grayLv2);
	border-top: 2px solid var(--grayLv2);
	display: flex;
	justify-content: space-between;
	padding: 20px 10px;
}

p.priceTag {
	font-family: 'JetBrains Mono', monospace;
	font-size: 24px;
	font-weight: 800;
	margin-left: 20px;
	text-align: right;
}

.contact ul {
	display: flex;
	gap: 40px;
	font-size: 40px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.contact li {
	align-items: center;
	display: flex;
	gap: 10px;
	margin: 0;
}

.contact a {
	font-size: 20px;
	text-decoration: none;
	cursor: pointer;
}

.contact a:hover .tooltip{
	transform: translateY(10px);
	opacity: 1;
}

p.tooltip {
	font-size: 14px;
	margin: 0;
	opacity: 0;
	position: absolute;
	transform: translateY(0px);
	transition: ease-in-out var(--animationFast);
}

.terms li {
	cursor: default;
	transition: ease-in-out var(--animationFast);
}

.terms:hover li {
	opacity: 0.2;
}

.terms li:hover {
	opacity: 1;
}

.terms ol {
	margin: 0;
}

.terms li {
	padding: 20px 0;
}

.status {
	font-family: 'JetBrains Mono', monospace;
	margin: 40px;
	transition: ease-in-out var(--animationFast);
}

.status h1 {
	font-size: 120px;
	margin: 0;
	text-transform: capitalize;
}

#open {
	color: #57ff8f;
}

#closed {
	color: #ff5555;
}

/*
Media Queries
*/

@media (max-width: 480px) {
	nav {
		gap: 30px;
	}
}

@media (max-width: 640px) {
	header .logo {
		display: none;
	}

	nav {
		justify-content: center;
	}

	footer .logo {
		height: 32px;
	}

	.socials a {
		font-size: 24px;
	}

	.skin {
		height: 200px;
	}

	.title {
		align-items: center;
		flex-direction: row;
		gap: 20px;
		justify-content: space-between;
		height: 100px;
		padding: 0 20px;
	}

	.mini {
		height: 60px;
	}

	.title h1 {
		font-size: 20px;
	}

	.title h2 {
		font-size: 12px;
	}
}

@media (max-width: 767px) {
	.notFound {
		align-items: center;
		flex-direction: column;
	}

	.notFound h1 {
		font-size: 80px;
		margin: 0;
	}

	.notFound h2 {
		font-size: 16px;
		margin: 0;
		text-align: center;
	}
}

@media (max-width: 799px) {
	.item h2 {
		font-size: 20px;
	}

	.item p {
		font-size: 12px;
	}

	.prices h1 {
		font-size: 32px;
	}

	p.priceTag {
		font-size: 20px;
	}
}

@media (max-width: 899px) {
	.contact ul {
		flex-direction: column;
	}
}

@media (max-width: 1279px) {
	.skinGrid {
		display: flex;
		flex-direction: column;
	}	

	.skin h1 {
		font-size: 40px;
	}

	.skin h2 {
		font-size: 14px;
	}
}

@media (max-width: 1365px) {
	.galleryGrid {
		display: flex;
		flex-direction: column;
	}
}