<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<title>{{ site.title }}</title>
	
	<script src="https://kit.fontawesome.com/9d6383265f.js" crossorigin="anonymous"></script>
	
	
	
	
	
	
	
	<!-- Embed Settings -->
	
	<meta name="theme-color" content="#393939">
	<meta name="description" content="osu! skinner, graphic designer, and Miku lover.">
	<meta property="og:title" content="/set the/">
	<meta property="og:description" content="osu! skinner and player, graphic designer, and Miku lover.">
	<meta property="og:url" content="https://xet-the.com">
	
	<link rel="icon" href="/resources/icon.svg">
	
	<!-- CSS Thingies -->
	
	<link rel="stylesheet" type="text/css" href="/resources/dark.css" id="mainCSS">
	
</head>
<body>

	<main class="home">
		
		<img src="/resources/XetThe.svg" draggable="false" class="logo" alt="XetThe">
		
		{{ content }}
		
		{% include socials.html %}
		
	</main>

</body>
</html>